# <a id='0'>Objective:</a>
- Clean up the dataset and explore 
- Start high and drill down: 
    + Qty by Category, Item, Year, Month, Day, time?
    + Gross Sales (Frequency) by Category, Item, Year, Month, Day, time?
- Create visual to break out by these features
- Group the items into buckets...too many items - Also lots of the items should probably eb grouped

**Need to create the scripts for:
- % of total for a column 
- rounding in python

In [1]:
# Note: This code was developed using Anaconda 4.5.3 with Python 3.6.5

# <a id='0'>O.S.E.M.N </a> 
- <a href='#1'>1. Obtain Data: Gather Data & Setup up environment</a>
- <a href='#2'>2. Scrub Data: Data Prep</a>
- <a href='#3'> 3. Explore data: EDA / Feature Engineering</a>
- <a href='#4'> 4. Model Data: Model Data for Prediction & Cross Validate</a>
- <a href='#4'> 5. iNterpret Data: Give Insights</a>

## <a id='1'>1. Obtain Data</a>

#### Import libraries & load dataset

In [3]:
import pandas as pd
import numpy as np
import os, sys

In [2]:
# Creating variables for the path of file
path = '/users/kevin8523/desktop/github/coffee_consulting/data/'
filename = 'All.txt'
filepath = f'{path}{filename}'

In [4]:
# Read in the data **NOTE: Need to set data types
df = pd.read_csv(filepath, sep='\t', header=0, 
                 dtype={'Gross Sales': np.float64, 
                        'Discounts': np.float64,
                        'Net Sales': np.float64,
                        'Tax': np.float64,},
                 encoding='latin-1', low_memory = False)

#### Quick Exploration of the data

In [111]:
# Shape of the data
print('\033[1m'+'DATASET','(ROWS, COLUMNS)'+'\033[0m')
print('df',df.shape)

DATASET (ROWS, COLUMNS)
df (447916, 28)

In [102]:
# df.head(), df.tail(),df.info(),df.describe()
df.head(2)

,Date,Time,Time Zone,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,...,Event Type,Location,Dining Option,Customer ID,Customer Name,Customer Reference ID,Year,Month,Week,Day
0,2014-01-02,07:34:21,Central Time (US & Canada),1 Hot Drinks,Brew Coffee,1,16 oz,NaN,"Dark, To Go",2.39,...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN,2014,1,1,Thursday
1,2014-01-02,07:49:27,Central Time (US & Canada),3 Bakery,Muffin Regular,1,Morning Glory,NaN,NaN,2.29,...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN,2014,1,1,Thursday

## <a id='2'>2. Scrub Data</a>

#### Changing the Dtypes for the datetime columns

In [98]:
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'], format ='%H:%M:%S').dt.time

#### Missing Values

 - Need to look at missing data and if we need to add any

In [14]:
# Selects the top n rows where Device Name is Null
df[df["Device Name"].isnull()].head(2)

,Date,Time,Time Zone,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,...,Payment ID,Device Name,Notes,Details,Event Type,Location,Dining Option,Customer ID,Customer Name,Customer Reference ID
7913,2/7/14,11:30:11,Central Time (US & Canada),6 Company Logo Merchandise,Gift Card - Over the Phone,1,$20,NaN,NaN,20.0,...,13fgmF1uKeqHSRnU0GB,NaN,"In the ""Notes to Seller"" box please include an...",https://squareup.com/dashboard/sales/transacti...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN
8992,2/12/14,12:18:11,Central Time (US & Canada),6 Company Logo Merchandise,Gift Card - Over the Phone,1,$20,NaN,NaN,20.0,...,vQ31A6uRjVu1ImFR0GB,NaN,"In the ""Notes to Seller"" box please include an...",https://squareup.com/dashboard/sales/transacti...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN

#### Feature Engineer
Pandas doc: https://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties

In [100]:
# Date Column
df['Year'] = df.Date.dt.year # Extracts year
df['Month'] = df.Date.dt.month # Extracts month
df['Week'] = df.Date.dt.week # Extracts week
df['Day'] = df.Date.dt.weekday_name # Extracts day

In [105]:
df.head(2)

,Date,Time,Time Zone,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,...,Event Type,Location,Dining Option,Customer ID,Customer Name,Customer Reference ID,Year,Month,Week,Day
0,2014-01-02,07:34:21,Central Time (US & Canada),1 Hot Drinks,Brew Coffee,1,16 oz,NaN,"Dark, To Go",2.39,...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN,2014,1,1,Thursday
1,2014-01-02,07:49:27,Central Time (US & Canada),3 Bakery,Muffin Regular,1,Morning Glory,NaN,NaN,2.29,...,Payment,Mazama Coffee Co,NaN,NaN,NaN,NaN,2014,1,1,Thursday

In [118]:
# Reorder columns
list(df.columns.values)
df = df[['Date',
 'Year',
 'Month',
 'Week',
 'Day',
 'Time',
 'Time Zone',
 'Category',
 'Item',
 'Qty',
 'Price Point Name',
 'SKU',
 'Modifiers Applied',
 'Gross Sales',
 'Discounts',
 'Net Sales',
 'Tax',
 'Transaction ID',
 'Payment ID',
 'Device Name',
 'Notes',
 'Details',
 'Event Type',
 'Location',
 'Dining Option',
 'Customer ID',
 'Customer Name',
 'Customer Reference ID']]

In [44]:
df.head(0)

Empty DataFrame
Columns: [Date, Time, Time Zone, Category, Item, Qty, Price Point Name, SKU, Modifiers Applied, Gross Sales, Discounts, Net Sales, Tax, Transaction ID, Payment ID, Device Name, Notes, Details, Event Type, Location, Dining Option, Customer ID, Customer Name, Customer Reference ID]
Index: []

[0 rows x 24 columns]

## <a id='3'>3. Explore Data</a>

#### Data Exploration by Category
Questions:
- What Category makes the most profit
- What Category sells the most items
- What % do each Item make up for total sales or Qty Sold

In [27]:
# Number of rows by Category ==> Group by Category and return rows
c = df
c.groupby([c.Category]).size()

Category
1 Hot Drinks                  227256
10 Events                         34
11 New Retail                     43
12 Wholesale                      18
2 Cold Drinks                  50091
2a Add-ins                     12279
3 Bakery                       89693
4 Food Outsourced              45491
5 Bulk Resale                   1775
5 Coffee                         121
6 Company Logo Merchandise      3551
7 Catering                       380
8 Unused Items                     1
8 Wine/Beer                     2462
9 Unused Items                     1
Kitchen                        10049
None                            2344
Pick-Up / Online Orders          130
Shop Online                     2185
Wine/Beer                         12
dtype: int64

In [25]:
# What is the summary statistics by category for Gross Sales?
c = df
c.groupby([c.Category])["Gross Sales"].agg(['mean','min','max'])

                                 mean    min     max
Category
1 Hot Drinks                 3.593374 -11.60   57.00
10 Events                   35.235294   8.00  100.00
11 New Retail               19.522791   4.99  149.70
12 Wholesale                58.611111   3.50  144.00
2 Cold Drinks                3.518292  -9.20   25.00
2a Add-ins                   0.485579  -0.65   14.00
3 Bakery                     2.259340  -8.55   75.00
4 Food Outsourced            3.284367 -15.00   37.00
5 Bulk Resale               13.703583 -12.00   68.00
5 Coffee                    14.000413 -13.50   68.00
6 Company Logo Merchandise  20.579347 -40.00  490.00
7 Catering                  27.897658 -47.50  160.00
8 Unused Items               1.890000   1.89    1.89
8 Wine/Beer                  6.015028  -8.00   27.00
9 Unused Items               1.290000   1.29    1.29
Kitchen                      6.901110  -7.00   77.00
None                         6.060960 -40.00  431.16
Pick-Up / Online Orders      7.323077  -6.50   29.00
Shop Online                 10.981007   5.00  300.00
Wine/Beer                    8.083333   4.00   16.00

In [88]:
# What was the total number of Qty Sold, Gross Sales, Discounts, 
# and Net Sales by Category?
c = df
total_cat = c.groupby([c.Category]).sum().sort_values(by = "Qty",
                                                  ascending = False)
total_cat

,Qty,SKU,Gross Sales,Discounts,Net Sales,Tax
Category,,,,,,
1 Hot Drinks,241482,0.0,816615.909999,-2952.77,813663.139999,67113.08
3 Bakery,103364,0.0,202646.940000,-816.07,201830.870000,16633.75
2 Cold Drinks,54052,0.0,176234.740000,-333.41,175901.330000,14512.07
4 Food Outsourced,53546,0.0,149409.120000,-409.87,148999.250000,12272.71
2a Add-ins,12847,0.0,5962.430000,-16.85,5945.580000,467.71
Kitchen,10694,0.0,69349.250000,-301.91,69047.340000,5691.67
6 Company Logo Merchandise,4636,0.0,73077.260000,-547.71,72529.550000,2060.28
8 Wine/Beer,2824,0.0,14809.000000,-218.59,14590.410000,1203.97
None,2823,0.0,14206.890000,-142.94,14063.950000,795.93
Shop Online,2464,0.0,23993.500000,-400.91,23592.590000,1931.91
5 Bulk Resale,1898,0.0,24323.860000,-48.08,24275.780000,2002.93
7 Catering,585,0.0,10601.110000,-369.61,10231.500000,551.13
12 Wholesale,227,0.0,1055.000000,0.00,1055.000000,0.00
Pick-Up / Online Orders,138,0.0,952.000000,-1.39,950.610000,78.52
5 Coffee,130,0.0,1694.050000,-1.91,1692.140000,139.59
11 New Retail,79,0.0,839.480000,-20.67,818.810000,67.52
10 Events,49,0.0,1198.000000,0.00,1198.000000,4.12
Wine/Beer,13,0.0,97.000000,-6.30,90.700000,7.49
8 Unused Items,1,0.0,1.890000,0.00,1.890000,0.16
9 Unused Items,1,0.0,1.290000,-0.02,1.270000,0.10

In [89]:
# Net Sales per Qty, Qty % of Total, Gross Sales % of Total
total_cat["Net Sales per Qty"] = total_cat["Net Sales"] / total_cat.Qty
total_cat['Qty_pct'] = round(total_cat.Qty / total_cat.Qty.sum(),3)
total_cat['Gross_pct'] = round(total_cat["Gross Sales"] / 
                                total_cat["Gross Sales"].sum(),3)
total_cat

,Qty,SKU,Gross Sales,Discounts,Net Sales,Tax,Net Sales per Qty,Qty_pct,Gross_pct
Category,,,,,,,,,
1 Hot Drinks,241482,0.0,816615.909999,-2952.77,813663.139999,67113.08,3.369457,0.491,0.515
3 Bakery,103364,0.0,202646.940000,-816.07,201830.870000,16633.75,1.952622,0.210,0.128
2 Cold Drinks,54052,0.0,176234.740000,-333.41,175901.330000,14512.07,3.254298,0.110,0.111
4 Food Outsourced,53546,0.0,149409.120000,-409.87,148999.250000,12272.71,2.782640,0.109,0.094
2a Add-ins,12847,0.0,5962.430000,-16.85,5945.580000,467.71,0.462799,0.026,0.004
Kitchen,10694,0.0,69349.250000,-301.91,69047.340000,5691.67,6.456643,0.022,0.044
6 Company Logo Merchandise,4636,0.0,73077.260000,-547.71,72529.550000,2060.28,15.644855,0.009,0.046
8 Wine/Beer,2824,0.0,14809.000000,-218.59,14590.410000,1203.97,5.166576,0.006,0.009
None,2823,0.0,14206.890000,-142.94,14063.950000,795.93,4.981916,0.006,0.009
Shop Online,2464,0.0,23993.500000,-400.91,23592.590000,1931.91,9.574915,0.005,0.015
5 Bulk Resale,1898,0.0,24323.860000,-48.08,24275.780000,2002.93,12.790190,0.004,0.015
7 Catering,585,0.0,10601.110000,-369.61,10231.500000,551.13,17.489744,0.001,0.007
12 Wholesale,227,0.0,1055.000000,0.00,1055.000000,0.00,4.647577,0.000,0.001
Pick-Up / Online Orders,138,0.0,952.000000,-1.39,950.610000,78.52,6.888478,0.000,0.001
5 Coffee,130,0.0,1694.050000,-1.91,1692.140000,139.59,13.016462,0.000,0.001
11 New Retail,79,0.0,839.480000,-20.67,818.810000,67.52,10.364684,0.000,0.001
10 Events,49,0.0,1198.000000,0.00,1198.000000,4.12,24.448980,0.000,0.001
Wine/Beer,13,0.0,97.000000,-6.30,90.700000,7.49,6.976923,0.000,0.000
8 Unused Items,1,0.0,1.890000,0.00,1.890000,0.16,1.890000,0.000,0.000
9 Unused Items,1,0.0,1.290000,-0.02,1.270000,0.10,1.270000,0.000,0.000

In [102]:
# Reorder columns
list(total_cat.columns.values)
total_cat = total_cat[['Qty',
 'Qty_pct',
 'Gross Sales',
 'Gross_pct',
 'Discounts',
 'Net Sales',
 'Tax',
 'Net Sales per Qty']]

In [103]:
# Top n by % Gross of Total
total_cat.head(10).sort_values(by = "Gross_pct", ascending = False)

,Qty,Qty_pct,Gross Sales,Gross_pct,Discounts,Net Sales,Tax,Net Sales per Qty
Category,,,,,,,,
1 Hot Drinks,241482,0.491,816615.909999,0.515,-2952.77,813663.139999,67113.08,3.369457
3 Bakery,103364,0.210,202646.940000,0.128,-816.07,201830.870000,16633.75,1.952622
2 Cold Drinks,54052,0.110,176234.740000,0.111,-333.41,175901.330000,14512.07,3.254298
4 Food Outsourced,53546,0.109,149409.120000,0.094,-409.87,148999.250000,12272.71,2.782640
6 Company Logo Merchandise,4636,0.009,73077.260000,0.046,-547.71,72529.550000,2060.28,15.644855
Kitchen,10694,0.022,69349.250000,0.044,-301.91,69047.340000,5691.67,6.456643
Shop Online,2464,0.005,23993.500000,0.015,-400.91,23592.590000,1931.91,9.574915
8 Wine/Beer,2824,0.006,14809.000000,0.009,-218.59,14590.410000,1203.97,5.166576
None,2823,0.006,14206.890000,0.009,-142.94,14063.950000,795.93,4.981916
2a Add-ins,12847,0.026,5962.430000,0.004,-16.85,5945.580000,467.71,0.462799

#### Data Exploration by Item
Questions:
- What Items makes the most profit
- What Items sells the most items
- What % do each Item make up for total sales or Qty Sold

In [51]:
# Number of rows by Item ==> Group by item and return rows
i = df
i.groupby([i.Item]).size().sort_values(ascending = False).head(25)

Item
Caffe Latte             66703
Brew Coffee             46790
Mocha                   25622
Bfast Taco              23985
Americano               18556
Cookie                  18553
Bread / Pound Cake      18182
Chai                    16408
Latte/Cappuccino        15619
Smoothie                12636
Sandwiches              12162
FrappÃŒÂ©                 11901
Iced Tea                11018
Croissant               10551
Cappuccino              10256
Tacos in the Morning    10007
Scone                    8948
Hot Chocolate            8444
Cold-brewed Coffee       7626
Muffins/Cupcakes         7418
Tea                      5851
Grab N Go                5032
Brownie                  3927
Syrup                    3742
Gluten Free              3498
dtype: int64

In [74]:
# What is the summary statistics by category by Gross Sales? 
# Price differences in items
i = df
i.groupby([i.Item])["Gross Sales"].agg(['mean','min','max']).head()

                              mean   min   max
Item
1 dozen black ballet slipper  18.0  18.0  18.0
1 dozen logo'd cookies        30.0  30.0  30.0
1 dozen pink toe shoes        18.0  18.0  18.0
10 Pounds Wholesale Coffee    90.0  90.0  90.0
8oz hot cups                  10.0  10.0  10.0

In [86]:
# What was the total number of Qty Sold, Gross Sales, Discounts, 
# and Net Sales by Item?
i = df
total_item = i.groupby([i.Item]).sum().sort_values(by = "Qty",
                                                  ascending = False)
total_item

,Qty,SKU,Gross Sales,Discounts,Net Sales,Tax
Item,,,,,,
Caffe Latte,70558,0.0,283046.14,-552.21,282493.93,23280.88
Brew Coffee,50133,0.0,113253.31,-258.16,112995.15,9292.91
Bfast Taco,28248,0.0,87033.20,-185.76,86847.44,7151.19
Mocha,27048,0.0,117977.60,-232.79,117744.81,9693.76
Cookie,23270,0.0,29443.15,-235.31,29207.84,2381.91
Bread / Pound Cake,19943,0.0,41530.20,-110.71,41419.49,3422.96
Americano,19632,0.0,50220.76,-241.64,49979.12,4156.55
Chai,17169,0.0,68145.35,-166.01,67979.34,5600.69
Latte/Cappuccino,16499,0.0,67947.30,-1182.20,66765.10,5504.76
Smoothie,13517,0.0,55858.96,-115.89,55743.07,4589.80
Sandwiches,12936,0.0,80324.33,-339.79,79984.54,6596.49
FrappÃŒÂ©,12767,0.0,53653.48,-67.64,53585.84,4414.83
Tacos in the Morning,12267,0.0,35950.00,-75.58,35874.42,2948.97
Croissant,11644,0.0,30566.70,-107.11,30459.59,2515.83
Iced Tea,11617,0.0,29907.72,-53.12,29854.60,2457.28
Cappuccino,10875,0.0,32062.32,-117.11,31945.21,2652.06
Hot Chocolate,9722,0.0,27484.56,-65.87,27418.69,2265.61
Scone,9582,0.0,21450.43,-52.75,21397.68,1779.11
Muffins/Cupcakes,8257,0.0,17951.50,-56.75,17894.75,1484.84
Cold-brewed Coffee,8084,0.0,25829.70,-53.99,25775.71,2140.12
Grab N Go,6077,0.0,5300.46,-17.01,5283.45,426.17
Tea,5993,0.0,14815.30,-38.69,14776.61,1229.10
Brownie,5027,0.0,5027.00,-13.63,5013.37,406.43
Gluten Free,4010,0.0,10210.95,-29.44,10181.51,844.89
Syrup,3884,0.0,1914.50,-7.56,1906.94,152.66
Rice Krispy Treat,3674,0.0,5511.00,-12.26,5498.74,446.46
Drinks,3548,0.0,5220.96,-28.37,5192.59,430.17
Espresso.double,3509,0.0,9048.15,-13.16,9034.99,751.08
Muffin Regular,3455,0.0,7525.48,-53.49,7471.99,620.00
"Syrup-2nd, same drink",3422,0.0,855.50,-1.90,853.60,68.38
...,...,...,...,...,...,...
Cherry Turnover,1,0.0,1.89,0.00,1.89,0.16
"Catering Order for 15 (Sandwiches, Salad, Dessert, Water)",1,0.0,160.00,0.00,160.00,13.20
"Catering Order - Tacos, Baked Goods and Coffee",1,0.0,117.68,0.00,117.68,9.71
Bfast Croissant,1,0.0,3.19,0.00,3.19,0.26
Baked Goods Sampler (12),1,0.0,24.00,0.00,24.00,1.98
After hours Rental charge (ea hour),1,0.0,50.00,0.00,50.00,0.00
8oz hot cups,1,0.0,10.00,0.00,10.00,0.00
10 Pounds Wholesale Coffee,1,0.0,90.00,0.00,90.00,7.42
1 dozen pink toe shoes,1,0.0,18.00,-3.86,14.14,1.17
"Flex Room Rental - David Lynch Feb 3, 1:30-4:30",1,0.0,50.00,0.00,50.00,0.00
Gift Set - ThanksLatte-Tumbler,1,0.0,11.00,0.00,11.00,0.91
Harvest Caramel,1,0.0,3.29,0.00,3.29,0.27
No Whip,1,0.0,0.00,0.00,0.00,0.00
Shipping,1,0.0,5.49,0.00,5.49,0.00
Salted Caramel Shortbread,1,0.0,2.25,0.00,2.25,0.18
SS Tumbler,1,0.0,12.93,0.00,12.93,1.07
Room Rental - 2 hrs.,1,0.0,40.00,-6.00,34.00,0.00
Remaining Balance (Room & Bev),1,0.0,100.00,0.00,100.00,0.00
Pecan Turtle,1,0.0,0.79,0.00,0.79,0.06
Passura - 12 oz bag,1,0.0,12.99,0.00,12.99,1.07
Nick Dalley - Intentional Comm (Oct 4),1,0.0,70.00,0.00,70.00,0.00
Josh Walker - Flex Room Reservation 4 hours,1,0.0,70.00,0.00,70.00,0.00
Mo joe,1,0.0,3.46,0.00,3.46,0.29
Lunch :: Catering Order,1,0.0,150.30,0.00,150.30,12.40
Lemon Tea Cake,1,0.0,1.89,0.00,1.89,0.15
Las Trancas -12 oz bag,1,0.0,11.99,0.00,11.99,0.99
1 dozen logo'd cookies,1,0.0,30.00,-6.42,23.58,1.94
L2 Consulting,1,0.0,126.23,0.00,126.23,10.41
Ken Robinson - Flex Room Booking,1,0.0,47.50,0.00,47.50,0.00
"L2 Consulting - Catering Order (JUN 17 - 20, 2014)",1,0.0,245.23,0.00,245.23,20.23

In [87]:
# Net Sales per Qty, Qty % of Total, Gross Sales % of Total
total_item["Net Sales per Qty"] = total_item["Net Sales"] / total_item.Qty
total_item['Qty_pct'] = round(total_item.Qty / total_item.Qty.sum(),3)
total_item['Gross_pct'] = round(total_item["Gross Sales"] / 
                                total_item["Gross Sales"].sum(),3)
total_item

,Qty,SKU,Gross Sales,Discounts,Net Sales,Tax,Net Sales per Qty,Qty_pct,Gross_pct
Item,,,,,,,,,
Caffe Latte,70558,0.0,283046.14,-552.21,282493.93,23280.88,4.003712,0.143,0.178
Brew Coffee,50133,0.0,113253.31,-258.16,112995.15,9292.91,2.253908,0.102,0.071
Bfast Taco,28248,0.0,87033.20,-185.76,86847.44,7151.19,3.074463,0.057,0.055
Mocha,27048,0.0,117977.60,-232.79,117744.81,9693.76,4.353180,0.055,0.074
Cookie,23270,0.0,29443.15,-235.31,29207.84,2381.91,1.255171,0.047,0.019
Bread / Pound Cake,19943,0.0,41530.20,-110.71,41419.49,3422.96,2.076894,0.041,0.026
Americano,19632,0.0,50220.76,-241.64,49979.12,4156.55,2.545799,0.040,0.032
Chai,17169,0.0,68145.35,-166.01,67979.34,5600.69,3.959423,0.035,0.043
Latte/Cappuccino,16499,0.0,67947.30,-1182.20,66765.10,5504.76,4.046615,0.034,0.043
Smoothie,13517,0.0,55858.96,-115.89,55743.07,4589.80,4.123923,0.027,0.035
Sandwiches,12936,0.0,80324.33,-339.79,79984.54,6596.49,6.183097,0.026,0.051
FrappÃŒÂ©,12767,0.0,53653.48,-67.64,53585.84,4414.83,4.197215,0.026,0.034
Tacos in the Morning,12267,0.0,35950.00,-75.58,35874.42,2948.97,2.924466,0.025,0.023
Croissant,11644,0.0,30566.70,-107.11,30459.59,2515.83,2.615904,0.024,0.019
Iced Tea,11617,0.0,29907.72,-53.12,29854.60,2457.28,2.569906,0.024,0.019
Cappuccino,10875,0.0,32062.32,-117.11,31945.21,2652.06,2.937491,0.022,0.020
Hot Chocolate,9722,0.0,27484.56,-65.87,27418.69,2265.61,2.820273,0.020,0.017
Scone,9582,0.0,21450.43,-52.75,21397.68,1779.11,2.233112,0.019,0.014
Muffins/Cupcakes,8257,0.0,17951.50,-56.75,17894.75,1484.84,2.167222,0.017,0.011
Cold-brewed Coffee,8084,0.0,25829.70,-53.99,25775.71,2140.12,3.188485,0.016,0.016
Grab N Go,6077,0.0,5300.46,-17.01,5283.45,426.17,0.869417,0.012,0.003
Tea,5993,0.0,14815.30,-38.69,14776.61,1229.10,2.465645,0.012,0.009
Brownie,5027,0.0,5027.00,-13.63,5013.37,406.43,0.997289,0.010,0.003
Gluten Free,4010,0.0,10210.95,-29.44,10181.51,844.89,2.539030,0.008,0.006
Syrup,3884,0.0,1914.50,-7.56,1906.94,152.66,0.490973,0.008,0.001
Rice Krispy Treat,3674,0.0,5511.00,-12.26,5498.74,446.46,1.496663,0.007,0.003
Drinks,3548,0.0,5220.96,-28.37,5192.59,430.17,1.463526,0.007,0.003
Espresso.double,3509,0.0,9048.15,-13.16,9034.99,751.08,2.574805,0.007,0.006
Muffin Regular,3455,0.0,7525.48,-53.49,7471.99,620.00,2.162660,0.007,0.005
"Syrup-2nd, same drink",3422,0.0,855.50,-1.90,853.60,68.38,0.249445,0.007,0.001
...,...,...,...,...,...,...,...,...,...
Cherry Turnover,1,0.0,1.89,0.00,1.89,0.16,1.890000,0.000,0.000
"Catering Order for 15 (Sandwiches, Salad, Dessert, Water)",1,0.0,160.00,0.00,160.00,13.20,160.000000,0.000,0.000
"Catering Order - Tacos, Baked Goods and Coffee",1,0.0,117.68,0.00,117.68,9.71,117.680000,0.000,0.000
Bfast Croissant,1,0.0,3.19,0.00,3.19,0.26,3.190000,0.000,0.000
Baked Goods Sampler (12),1,0.0,24.00,0.00,24.00,1.98,24.000000,0.000,0.000
After hours Rental charge (ea hour),1,0.0,50.00,0.00,50.00,0.00,50.000000,0.000,0.000
8oz hot cups,1,0.0,10.00,0.00,10.00,0.00,10.000000,0.000,0.000
10 Pounds Wholesale Coffee,1,0.0,90.00,0.00,90.00,7.42,90.000000,0.000,0.000
1 dozen pink toe shoes,1,0.0,18.00,-3.86,14.14,1.17,14.140000,0.000,0.000
"Flex Room Rental - David Lynch Feb 3, 1:30-4:30",1,0.0,50.00,0.00,50.00,0.00,50.000000,0.000,0.000
Gift Set - ThanksLatte-Tumbler,1,0.0,11.00,0.00,11.00,0.91,11.000000,0.000,0.000
Harvest Caramel,1,0.0,3.29,0.00,3.29,0.27,3.290000,0.000,0.000
No Whip,1,0.0,0.00,0.00,0.00,0.00,0.000000,0.000,0.000
Shipping,1,0.0,5.49,0.00,5.49,0.00,5.490000,0.000,0.000
Salted Caramel Shortbread,1,0.0,2.25,0.00,2.25,0.18,2.250000,0.000,0.000
SS Tumbler,1,0.0,12.93,0.00,12.93,1.07,12.930000,0.000,0.000
Room Rental - 2 hrs.,1,0.0,40.00,-6.00,34.00,0.00,34.000000,0.000,0.000
Remaining Balance (Room & Bev),1,0.0,100.00,0.00,100.00,0.00,100.000000,0.000,0.000
Pecan Turtle,1,0.0,0.79,0.00,0.79,0.06,0.790000,0.000,0.000
Passura - 12 oz bag,1,0.0,12.99,0.00,12.99,1.07,12.990000,0.000,0.000
Nick Dalley - Intentional Comm (Oct 4),1,0.0,70.00,0.00,70.00,0.00,70.000000,0.000,0.000
Josh Walker - Flex Room Reservation 4 hours,1,0.0,70.00,0.00,70.00,0.00,70.000000,0.000,0.000
Mo joe,1,0.0,3.46,0.00,3.46,0.29,3.460000,0.000,0.000
Lunch :: Catering Order,1,0.0,150.30,0.00,150.30,12.40,150.300000,0.000,0.000
Lemon Tea Cake,1,0.0,1.89,0.00,1.89,0.15,1.890000,0.000,0.000
Las Trancas -12 oz bag,1,0.0,11.99,0.00,11.99,0.99,11.990000,0.000,0.000
1 dozen logo'd cookies,1,0.0,30.00,-6.42,23.58,1.94,23.580000,0.000,0.000
L2 Consulting,1,0.0,126.23,0.00,126.23,10.41,126.230000,0.000,0.000
Ken Robinson - Flex Room Booking,1,0.0,47.50,0.00,47.50,0.00,47.500000,0.000,0.000
"L2 Consulting - Catering Order (JUN 17 - 20, 2014)",1,0.0,245.23,0.00,245.23,20.23,245.230000,0.000,0.000

In [100]:
# Reorder columns
list(total_item.columns.values)
total_item = total_item[['Qty',
 'Qty_pct',
 'Gross Sales',
 'Gross_pct',
 'Discounts',
 'Net Sales',
 'Tax',
 'Net Sales per Qty']]

In [101]:
# Top n by % Gross of Total
total_item.head(20).sort_values(by = "Gross_pct", ascending = False)

,Qty,Qty_pct,Gross Sales,Gross_pct,Discounts,Net Sales,Tax,Net Sales per Qty
Item,,,,,,,,
Caffe Latte,70558,0.143,283046.14,0.178,-552.21,282493.93,23280.88,4.003712
Mocha,27048,0.055,117977.60,0.074,-232.79,117744.81,9693.76,4.353180
Brew Coffee,50133,0.102,113253.31,0.071,-258.16,112995.15,9292.91,2.253908
Bfast Taco,28248,0.057,87033.20,0.055,-185.76,86847.44,7151.19,3.074463
Sandwiches,12936,0.026,80324.33,0.051,-339.79,79984.54,6596.49,6.183097
Chai,17169,0.035,68145.35,0.043,-166.01,67979.34,5600.69,3.959423
Latte/Cappuccino,16499,0.034,67947.30,0.043,-1182.20,66765.10,5504.76,4.046615
Smoothie,13517,0.027,55858.96,0.035,-115.89,55743.07,4589.80,4.123923
FrappÃŒÂ©,12767,0.026,53653.48,0.034,-67.64,53585.84,4414.83,4.197215
Americano,19632,0.040,50220.76,0.032,-241.64,49979.12,4156.55,2.545799
Bread / Pound Cake,19943,0.041,41530.20,0.026,-110.71,41419.49,3422.96,2.076894
Tacos in the Morning,12267,0.025,35950.00,0.023,-75.58,35874.42,2948.97,2.924466
Cappuccino,10875,0.022,32062.32,0.020,-117.11,31945.21,2652.06,2.937491
Cookie,23270,0.047,29443.15,0.019,-235.31,29207.84,2381.91,1.255171
Croissant,11644,0.024,30566.70,0.019,-107.11,30459.59,2515.83,2.615904
Iced Tea,11617,0.024,29907.72,0.019,-53.12,29854.60,2457.28,2.569906
Hot Chocolate,9722,0.020,27484.56,0.017,-65.87,27418.69,2265.61,2.820273
Cold-brewed Coffee,8084,0.016,25829.70,0.016,-53.99,25775.71,2140.12,3.188485
Scone,9582,0.019,21450.43,0.014,-52.75,21397.68,1779.11,2.233112
Muffins/Cupcakes,8257,0.017,17951.50,0.011,-56.75,17894.75,1484.84,2.167222

### Qty by Year, Month, Day, time?

### Takeaways
#### -  Question List
- What is None category ==> Custom? Picky? Drink of the week?

#### - Items Learned from Exploration
- 2a in category is goes with 2, usually extra syrup or extra shot ==> Cost extra money